.overview-area {
  padding: 2rem 3rem;
}

.border-container {
  border: 1px solid var(--dark-blue);
  padding: 2rem;
}

.overview-container {
  display: flex;
  flex-direction: column;
}
/* ------------ Overview Header ------------ */
.overview-header {
  height: 100%;
  width: 100%;
}

/* --- personel info first row --- */
.overview-personel-info {
  display: grid;
  grid-template-columns: 5fr 3fr;
  align-items: center;
}

.overview-personel-info:first-child {
  align-items: flex-start;
}

.overview-name-title {
  padding: 1rem;
}

.overview-name {
  display: inline;
  font-size: 2.5rem;
}

.sub-title {
  display: inline;
  font-size: 1.4rem;
  padding: 1rem 1rem 0rem 1rem;
  border-top: 1px solid var(--dark-blue);
}

.overview-title {
  font-size: 1.3rem;
}

.info-container {
  padding: 1rem;
  font-style: italic;
}

.info-container-child {
  display: flex;
  align-items: flex-start;
  text-align: justify;
  word-break: break-all;
}

.info-container-child > * {
  padding: 0.25rem;
}

.info-container-icon {
  padding-top: 0.6rem;
}

.info-container > * {
  margin-bottom: 0.75rem;
}

/* --- personel info second row --- */
/* description */
.personel-info-description {
  display: grid;
  grid-template-columns: 5fr 3fr;
  max-width: 100%;
}

.description-info {
  font-size: 0.8rem;
  font-style: italic;
  padding: 1rem;
  text-align: justify;
}

/* website and socials */
.website-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.website-child {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.website-name {
  font-weight: 500;
}

/* ------------ Overview Main ------------- */
.overview-main {
  display: flex;
  flex-direction: column;
}

/* ------------ experience section ------------*/
.exp-edu-container {
  display: flex;
  flex-direction: column;
}

.exp-edu-child {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.8rem;
  padding: 1rem;
}

/* left child */
.exp-edu-child-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 3px solid grey;
}

.exp-company,
.edu-schoolname {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* right child */
.exp-edu-child-right {
  padding-left: 0.5rem;
}

.exp-title,
.edu-degree {
  font-weight: 600;
  text-transform: capitalize;
}

.exp-edu-description {
  text-align: justify;
}

.pdf-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* delete button style */
.delete-btn-container {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.delete-btn {
  border: none;
  background-color: var(--white);
}

.website-child:hover > .delete-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.exp-edu-container:hover > .delete-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (width <= 1024px) {
  .overview-area {
    padding: 2rem 0.5rem;
  }

  .border-container {
    padding: 0rem;
  }
}
